%h1 Guardian
%h4.subheader You can appoint guardians to look after any children under 18 that you are solely responsible for at the time of your death. If there is more than one guardian and the guardians live separately, the first guardian you name shall have residence of the children.
%hr