-provide(:bodyclass , "home")

#intro
  .narrow-logo
    = image_tag("logo.png")
  %h1 Express Wills: Protect your future
  %h2 Create a Will quickly and easily to ensure your wishes are carried out after your death
  %p= link_to("Create New Will", new_will_path)
