= render 'header'
%dl
  %dt
    = question "07010"

= link_to("No", option_will_properties_path(@will), class: "button radius")
= link_to("Yes", new_will_charitable_donation_path, class: "button radius")