%h1 Personal Gifts
%p.section-text You can make specific gifts of personal items.
%hr
%dl
  %dt
    = question "09010"

= link_to("No", option_will_residuary_details_path)
= link_to("Yes", new_will_personal_gift_path)