- provide(:title, "Property")

= render 'header'


%table
  %thead
    %tr
      %th 
        %h5 Property
  %tbody
    - @properties.where(complete: true).each_with_index do |property, i|
      %tr
        %td= link_to(property.postcode, edit_will_property_path(@will, property))

= link_to("Add Property", new_will_property_path, class: "button radius")
= link_to("Proceed", option_will_personal_gifts_path(@will), class: "button radius")
