%h1 Property
%p.section-text You can donate buildings or land that you own as a tenant in common. If you are not sure by what method you own property you can contact Notary Express to make enquiries on your behalf.
%hr
%dl
  %dt
    = question "08010"

= link_to("No", option_will_personal_gifts_path(@will))
= link_to("Yes", new_will_property_path)