= render 'header'
%dl
  %dt
    = question "08010"
  %p.advice If you do not make a specific gift of any building or land you own it will pass to any beneficiaries you choose to receive the remainder of your estate if you own the full interest of the property or hold it as a tenant in common
= link_to("No", option_will_personal_gifts_path(@will), class: "button radius")
= link_to("Yes", new_will_property_path, class: "button radius")
