= render 'header'
%dl
  %dt
    = question "06010"

= link_to("No", option_will_charitable_donations_path(@will), class: "radius button")
= link_to("Yes", new_will_cash_gift_path, class: "radius button")