= form_for [:will, @request] do |f|

  = render "layouts/check_box", :f => f, check_box: :requests, q_no: "11010"
  = render "layouts/text_area", :f => f, text_area: :specific, q_no: "11020"
  = f.submit 'Save', class: "button radius"
