%h1 Personal Details
%h3.subheader Please Enter you Personal Details
%h4.subheader The information you provide shall be stored for regulatory compliance purposes and to provide you with the best possible service but it will not be used for marketing purposes or disclosed to third parties without your consent unless pursuant to a legal obligation. 
%hr

= render 'form'

