%h1 Editing Administration
%h4.subheader  Your executors or personal representatives distribute your estate and give effect to the wishes in your will subject to the law and any express guidelines in your will. In order to facilitate the administration of your estate it is advisable to give these individuals certain express powers in addition to their powers under the law. These powers will be automatically included in your will unless you expressly state otherwise.
%hr