%h1 New Residuary
%h4.subheader The residuary is the remainder of your estate after all debts, expenses, taxes and specific gifts have been dealt with. It is often the main gift in your estate so you are advised to provide replacement beneficiaries in case your main beneficiaries are deceased or unable to receive the gift for any reason.
%hr

= render 'form'
