- if object.errors.any?
  #error_explanation
    .alert-box.error
      The form contains #{pluralize(object.errors.count, "error")}.
      %a.close ✕
    .alert-box
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
      %a.close ✕